.d3-node-super-expand-icon-background {
  cursor: pointer !important;
  fill: transparent !important;
}

.d3-node-super-expand-icon {
  cursor: pointer !important;
  fill: var(--elyra-color-icon) !important;
}

.d3-back-to-previous-flow-box {
  transform: translate(13px, 9px);
  height: 38px;
  width: 148px;
  fill: var(--elyra-color-button-bg);
  stroke: none;
}

.d3-back-to-previous-flow-box[data-pointer-hover="yes"] {
  fill: var(--elyra-color-button-hover-bg);
  stroke: none;
}

.d3-back-to-previous-flow-text svg {
  display: none;
}

.d3-back-to-previous-flow-text {
  font-size: var(--elyra-font-size-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-family: var(--elyra-font-family-sans);
  fill: var(--elyra-color-button-text);
  transform: translate(-17px, 9px);
  text-rendering: geometricPrecision;
}

/* ========================================================================== */
/* PALETTE */
/* ========================================================================== */
.elyra-palette {
  margin-top: 14px;
}

.elyra-paletteItem {
  display: flex;
  align-items: center;
  cursor: grab;
  height: 40px;
  margin: 0 22px 8px;
  background-color: var(--elyra-color-palette-bg);
  border: 1px solid var(--elyra-color-palette-border);
  color: var(--elyra-color-palette-text);
}

.elyra-paletteItemIcon {
  height: 26px;
  margin: 0 7px;
}

.elyra-paletteItemLabel {
  font-family: var(--elyra-font-family-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-size: var(--elyra-font-size-sans);
}

/* ========================================================================== */
/* TAB PANEL */
/* ========================================================================== */
.elyra-verticalTabGroup {
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elyra-tabContent {
  position: absolute;
  top: 35px;
  bottom: 0;
  overflow: auto;
  width: 100%;
}

.elyra-tabPanel > .elyra-actionBar {
  display: flex;
  justify-content: space-between;
}

.elyra-tabPanel > .elyra-actionBar > .elyra-tabGroup {
  display: flex;
}

.elyra-noContentMessage {
  margin-top: 14px;
  padding: 0 22px;
  font-family: var(--elyra-font-family-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-size: var(--elyra-font-size-sans);
  color: var(--elyra-color-text-primary);
  opacity: 0.5;
}

/* ========================================================================== */
/* CANVAS TOOLTIP */
/* ========================================================================== */
.elyra-tooltipError {
  color: var(--elyra-color-text-error);
}

.common-canvas-tooltip {
  max-width: unset;
  background-color: var(--elyra-color-tooltip-bg);
  border: 1px solid var(--elyra-color-tooltip-border);
  font-weight: normal;
  opacity: 100%;
  color: var(--elyra-color-tooltip-text);
  border-radius: 0;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

  padding: 4px 7px;
  line-height: 1.5;

  font-family: var(--elyra-font-family-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-size: var(--elyra-font-size-sans);
}

.common-canvas-tooltip #tipArrow polyline {
  fill: var(--elyra-color-tooltip-bg);
  stroke-width: 0;
}

.common-canvas-tooltip #tipArrow polygon {
  fill: var(--elyra-color-tooltip-border);
}

.elyra-PipelineNodeTooltip {
  padding-top: 7px;
  text-align: left;
}

.elyra-PipelineNodeTooltip .elyra-tooltipKey {
  color: var(--elyra-color-tooltip-text-bold);
  font-weight: 600;
}

.elyra-PipelineNodeTooltip .elyra-tooltipValue {
  margin-left: 7px;
  margin-bottom: 7px;
  white-space: pre-wrap;
}

/* ========================================================================== */
/* COMMON PROPERTIES */
/* ========================================================================== */
.properties-wrapper,
.properties-wrapper * {
  outline: none !important;
}

.properties-category {
  padding: 0;
}

.properties-wrapper {
  margin-top: 14px;
}

.properties-control-panel[data-id="properties-nodeGroupInfo"]
  > .properties-control-panel {
  padding-left: 33px;
  padding-right: 24px;
  /* 765 + 33 + 24 */
  max-width: 822px;
}

.properties-control-panel[data-id="properties-nodeGroupInfo"]
  > .properties-control-panel
  > .properties-control-item {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 18px;
}

.properties-label-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding-bottom: 0;
}

.properties-wrapper .properties-control-label {
  font-family: var(--elyra-font-family-sans);
  font-weight: 600;
  font-size: var(--elyra-font-size-sans);
  color: var(--elyra-color-formLabel-text);
  line-height: 1.4em !important;
  letter-spacing: normal;
}

.properties-wrapper .properties-control-description {
  margin-top: -1px;
  font-family: var(--elyra-font-family-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-size: var(--elyra-font-size-sans);
  color: var(--elyra-color-formDescription-text);
  line-height: 1.4em !important;
  letter-spacing: normal;
  padding: 0;
  opacity: 0.9;
  user-select: none;
}

.properties-wrapper .bx--visually-hidden,
.properties-wrapper .properties-validation-message {
  display: none;
}

/* text input */
.properties-wrapper .properties-textfield {
  margin-top: 9px;
}

.properties-wrapper input[type="text" i] {
  box-sizing: border-box;
  padding: 4px;
  background-color: var(--elyra-color-textInput-bg);
  color: var(--elyra-color-textInput-text);
  border: 1px solid var(--elyra-color-textInput-border);
  width: 100%;
  max-width: 500px;
  font-size: var(--elyra-font-size-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-family: var(--elyra-font-family-sans);
}

.properties-wrapper input[type="text" i]:focus {
  outline: 1px solid var(--elyra-color-focus) !important;
  outline-offset: -1px;
}

.properties-wrapper input[type="text" i]:disabled {
  color: var(--elyra-color-textInput-disabled-text);
}

/* select */

.properties-dropdown {
  margin-top: 9px;
  padding: 0;
}

.properties-wrapper .bx--list-box {
  position: relative;
  max-width: 320px;
}

.properties-wrapper .bx--list-box__field {
  background-color: var(--elyra-color-dropdown-bg);
  color: var(--elyra-color-dropdown-text);
  border: 1px solid var(--elyra-color-dropdown-border);
  display: flex;
  width: 100%;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  padding: 2px 8px;
}

.bx--list-box__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bx--list-box__menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.properties-wrapper .bx--list-box__field:hover {
  /* override button style */
  background-color: var(--elyra-color-dropdown-bg);
}

.properties-wrapper .bx--list-box__menu {
  display: none;
}

.properties-wrapper .bx--list-box--expanded .bx--list-box__menu {
  display: block;
}

.properties-wrapper .bx--list-box__menu {
  z-index: 10;
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  color: var(--elyra-color-dropdown-text);
  background-color: var(--elyra-color-dropdown-bg);
  padding: 2px;
  padding-bottom: 4px;
}

.properties-wrapper .bx--list-box__menu-item {
  height: 18px;
  line-height: 18px;
  padding-left: 3.5px;
  color: var(--elyra-color-text-primary);
}

.bx--list-box__menu-item__option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.properties-wrapper .bx--list-box__menu-item:hover {
  background-color: var(--elyra-color-dropdownItem-hover-bg);
}

.properties-wrapper .bx--list-box__menu-item__selected-icon {
  display: none;
}

.bx--list-box--expanded .bx--list-box__field,
.bx--list-box--expanded .bx--list-box__menu {
  outline: 1px solid var(--elyra-color-focus) !important;
  outline-offset: -1px;
}

.bx--list-box__field:focus {
  outline: 1px solid var(--elyra-color-focus) !important;
  outline-offset: -1px;
}

/* checkbox */
.properties-wrapper .properties-checkbox {
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  height: 18px;
  width: 18px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 9px;
  margin-left: 0;
  padding: 0;
  background-color: var(--elyra-color-checkbox-bg) !important;
  color: var(--elyra-color-checkbox-text) !important;
  border-color: var(--elyra-color-checkbox-border) !important;
}

.properties-wrapper .properties-checkbox:focus {
  outline: 1px solid var(--elyra-color-focus) !important;
  outline-offset: -1px;
}

.properties-wrapper .properties-checkbox::before {
  content: "X";
  opacity: 0;
}

.properties-wrapper .properties-checkbox.checked::before {
  opacity: 1;
}

/* file control */
.properties-wrapper .elyra-fileControl {
  margin-top: 9px;
  width: 100%;
  max-width: 500px;
  display: flex;
}

/* button */
.properties-wrapper button {
  color: var(--elyra-color-formButton-text);
  background-color: var(--elyra-color-formButton-bg);
  font-size: var(--elyra-font-size-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-family: var(--elyra-font-family-sans);
  padding: 2px 14px;
  cursor: pointer;
  line-height: 1.4em;
  border: none;
}

.properties-wrapper button:hover {
  background-color: var(--elyra-color-formButton-hover-bg);
}

.elyra-stringArrayControl {
  margin-top: 9px;
}

.elyra-stringArrayControl-inputWrapper {
  display: flex;
}

.elyra-stringArrayControl-inputWrapper button:first-of-type {
  margin: 0 4px;
}

.elyra-stringArrayControl-input {
  background-color: var(--elyra-color-arrayInput-bg);
  border: 1px solid var(--elyra-color-arrayInput-border);
  height: 24px;
  max-width: 320px;
  margin-right: 4px;
  box-sizing: border-box;
}

.elyra-stringArrayControl-input input {
  background-color: inherit;
  color: var(--elyra-color-arrayInput-text);
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  padding: 4px;
}

.elyra-stringArrayControl-input input:focus {
  outline: 1px solid var(--elyra-color-focus) !important;
  outline-offset: 0px;
}

.elyra-stringArrayControl-listItem {
  display: block;
  margin-right: 47px;
  margin-left: 2px;
  line-height: 24px;
  max-width: 90%;
  font-family: var(--elyra-font-family-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-size: var(--elyra-font-size-sans);
  color: var(--elyra-color-text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elyra-stringArrayControl-listActions {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.elyra-stringArrayControl-listRow:hover .elyra-stringArrayControl-listActions {
  display: flex;
}

.elyra-stringArrayControl-buttonGroup {
  display: flex;
  margin-top: 4px;
}

.elyra-stringArrayControl-listGroup {
  padding: 1px;
  margin-bottom: 1px;
}

.elyra-stringArrayControl-buttonGroup button {
  margin-right: 4px;
}

/* ========================================================================== */
/* CANVAS */
/* ========================================================================== */
.common-canvas {
  overflow: hidden;
}

.d3-svg-canvas-div {
  background-color: transparent;
}

.d3-svg-background {
  fill: var(--elyra-color-panel-bg);
  cursor: default !important;
}

.d3-link-group {
  cursor: pointer;
}

.d3-node-body-outline {
  stroke: var(--elyra-color-node-border);
  stroke-width: 1;
  fill: var(--elyra-color-node-bg);
  filter: none !important;
}

.d3-node-body-outline[hover="yes"] {
  stroke: var(--elyra-color-node-hover-border);
  stroke-width: 1;
  fill: var(--elyra-color-node-hover-bg);
}

.d3-data-link {
  stroke: var(--elyra-color-node-link) !important;
  stroke-width: 2;
}

.d3-data-link-error {
  stroke: var(--elyra-color-error-border) !important;
  stroke-width: 2;
  stroke-dasharray: 13;
}

.d3-comment-link {
  stroke: var(--elyra-color-comment-link) !important;
  stroke-width: 2 !important;
  stroke-dasharray: 7.3 !important;
}

.d3-comment-rect {
  fill: var(--elyra-color-comment-bg);
  stroke: var(--elyra-color-comment-border) !important;
  stroke-width: 1;
  rx: var(--elyra-border-radius);
}

.d3-node-label,
.d3-supernode-label {
  font-family: var(--elyra-font-family-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-size: var(--elyra-font-size-sans);
  fill: var(--elyra-color-node-text);
  font-weight: 500;
  text-rendering: geometricPrecision;
}

.d3-comment-text-tspan {
  font-family: var(--elyra-font-family-sans) !important;
  font-weight: var(--elyra-font-weight-sans) !important;
  font-size: var(--elyra-font-size-sans) !important;
  fill: var(--elyra-color-comment-text) !important;
  text-rendering: geometricPrecision;
}

.d3-comment-entry {
  background-color: var(--elyra-color-comment-bg);
  font-family: var(--elyra-font-family-sans) !important;
  font-weight: var(--elyra-font-weight-sans) !important;
  font-size: var(--elyra-font-size-sans) !important;
  color: var(--elyra-color-comment-text) !important;
  box-sizing: border-box; /* very important! */
}

.d3-node-selection-highlight[data-selected="yes"] {
  stroke: var(--elyra-color-node-link);
}

.d3-comment-selection-highlight[data-selected="yes"] {
  stroke: var(--elyra-color-node-link);
  rx: var(--elyra-border-radius);
}

.d3-node-ellipsis-group .d3-node-ellipsis {
  fill: var(--elyra-color-icon);
}

.d3-node-ellipsis-group:hover .d3-node-ellipsis-background {
  fill: transparent;
}

.d3-new-connection-line,
.d3-new-connection-start,
.d3-new-connection-guide {
  stroke: var(--elyra-color-node-link) !important;
}

.pipeline-read-only .d3-comment-sizing,
.pipeline-read-only .d3-comment-port-circle,
.pipeline-read-only .d3-node-selection-highlight,
.pipeline-read-only .d3-comment-selection-highlight,
.pipeline-read-only .d3-node-port-input,
.pipeline-read-only .d3-node-port-output,
.pipeline-read-only .d3-node-port-input-arrow,
.pipeline-read-only .d3-node-ellipsis-group,
.pipeline-read-only .d3-new-connection-line,
.pipeline-read-only .d3-new-connection-start,
.pipeline-read-only .d3-new-connection-guide,
.pipeline-read-only .d3-comment-entry {
  display: none;
}
