.elyra-tooltipError {
  color: var(--elyra-color-text-error);
}

.common-canvas-tooltip[data-id^="node_tip"] {
  max-width: unset;
  background-color: var(--elyra-color-tooltip-bg);
  border: 1px solid var(--elyra-color-tooltip-border);
  font-weight: normal;
  opacity: 100%;
  color: var(--elyra-color-tooltip-text);
  border-radius: 0;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

  padding: 11px 7px 4px 7px;
  line-height: 1.5;

  font-family: var(--elyra-font-family-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-size: var(--elyra-font-size-sans);
}

.common-canvas-tooltip #tipArrow polyline {
  fill: var(--elyra-color-tooltip-bg);
  stroke-width: 0;
}

.common-canvas-tooltip #tipArrow polygon {
  fill: var(--elyra-color-tooltip-border);
}

.elyra-PipelineNodeTooltip {
  text-align: left;
}

.elyra-PipelineNodeTooltip .elyra-tooltipKey {
  color: var(--elyra-color-tooltip-text-bold);
  font-weight: 600;
}

.elyra-PipelineNodeTooltip .elyra-tooltipValue {
  margin-left: 7px;
  margin-bottom: 7px;
  white-space: pre-wrap;
}

/* properties */

.properties-wrapper,
.properties-wrapper * {
  outline: none !important;
}

.properties-category {
  padding: 0;
}

.properties-wrapper {
  margin-top: 14px;
}

.properties-wrapper .properties-textfield {
  margin-top: 9px;
}

.properties-wrapper input[type="text" i] {
  padding: 4px;
  background-color: var(--vscode-settings-textInputBackground);
  color: var(--vscode-settings-textInputForeground);
  border: 1px solid var(--vscode-settings-textInputBorder);
  width: 100%;
  max-width: 500px;
}

.properties-wrapper .bx--list-box__field {
  background-color: var(--vscode-settings-dropdownBackground);
  color: var(--vscode-settings-dropdownForeground);
  border: 1px solid var(--vscode-settings-dropdownBorder);
  width: 100%;
  max-width: 320px;

  /* TODO */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
}

.properties-control-panel[data-id="properties-nodeGroupInfo"]
  > .properties-control-panel {
  max-width: 1000px;
}

.properties-editor-form .properties-control-panel .properties-control-panel {
  border-bottom: solid 1px var(--elyra-color-panel-border);
  margin: 5px 0 5px 0;
}

.properties-label-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding-bottom: 0;
}

.properties-wrapper .properties-control-label {
  font-family: var(--elyra-font-family-sans);
  font-weight: 600;
  font-size: var(--elyra-font-size-sans);
  color: var(--vscode-settings-headerForeground);
  line-height: 1.4em !important;
  letter-spacing: normal;
}

.properties-wrapper .properties-control-description {
  margin-top: -1px;
  font-family: var(--elyra-font-family-sans);
  font-weight: var(--elyra-font-weight-sans);
  font-size: var(--elyra-font-size-sans);
  color: var(--vscode-foreground);
  line-height: 1.4em !important;
  letter-spacing: normal;
  padding: 0;
  opacity: 0.9;
}

.properties-wrapper .properties-checkbox {
  flex-shrink: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  height: 18px;
  width: 18px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 9px;
  margin-left: 0;
  padding: 0;
  background-color: var(--vscode-settings-checkboxBackground) !important;
  color: var(--vscode-settings-checkboxForeground) !important;
  border-color: var(--vscode-settings-checkboxBorder) !important;
}

.properties-wrapper .properties-checkbox::before {
  content: "X";
  opacity: 0;
}

.properties-wrapper .properties-checkbox.checked::before {
  opacity: 1;
}

.properties-wrapper .bx--visually-hidden,
.properties-wrapper .properties-validation-message {
  display: none;
}

.elyra-StringArrayControl-entry {
  display: flex;
  margin-top: 3px;
}

.properties-control-panel .properties-control-item input {
  width: calc(100% - 15px);
  line-height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  border: 0;
  box-shadow: inset 0 0 0 1px var(--elyra-color-panel-border);
}

input:focus {
  box-shadow: inset 0 0 0 1px rgba(19, 124, 189, 0.3),
    inset 0 0 0 3px rgba(19, 124, 189, 0.3);
}

.elyra-StringArrayControl-entryDeleteButton {
  font-family: var(--elyra-font-family-sans);
  border: solid 1px var(--elyra-color-node-hover-bg);
  border-radius: 0 3px 3px 0;
  margin: 0px -1px;
  padding: 7px 11px;
  font-weight: 900;
  background-color: #ebf1f5;
  color: #5c7080;
}

.elyra-StringArrayControl-addEntryButton {
  font-family: var(--elyra-font-family-sans);
  font-size: var(--elyra-font-size-sans);
  border: solid 1px var(--elyra-color-comment-border);
  border-radius: 3px;
  margin: 0px -1px;
  padding: 4px;
  background-color: #ebf1f5;
  color: #5c7080;
  cursor: pointer;
}

.elyra-pipeline-tabBar {
  display: flex;
  border-bottom: solid 1px;
}

.elyra-pipeline-tab {
  padding: 5px 3px 3px 3px;
  margin: 3px 1px -1px 1px;
  border-top: solid 3px var(--elyra-color-comment-border);
  border: solid;
  border-width: 3px 1px 1px 1px;
  cursor: pointer;
}

.elyra-pipeline-tab:hover {
  border-top: solid 3px var(--elyra-color-comment-text);
}

.elyra-pipeline-tab.elyra-pipeline-tab-active:hover {
  border-top: solid 3px var(--elyra-color-icon);
}

.elyra-pipeline-closePanel {
  position: absolute;
  right: 2px;
  top: 2px;
  border: solid 1px;
  border-radius: 3px;
  font-size: 18px;
  font-family: system-ui;
  padding: 3px;
  cursor: pointer;
}

.elyra-pipeline-tab.elyra-pipeline-tab-active {
  border-top: solid 3px var(--elyra-color-node-link);
}

.elyra-tabContent {
  position: absolute;
  top: 35px;
  bottom: 0;
  overflow-y: scroll;
  height: 100%;
  padding: 15px;
}

.elyra-pipeline-propertiesEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53%;
}

.elyra-pipeline-propertiesEmpty h1 {
  font-family: var(--elyra-font-family-sans) !important;
  font-weight: var(--elyra-font-weight-sans) !important;
  fill: var(--elyra-color-comment-text) !important;
}

.properties-wrapper .properties-dropdown button {
  width: 100%;
  line-height: 30px;
  padding: 20px 10px;
  vertical-align: middle;
  border: 0;
  box-shadow: inset 0 0 0 1px var(--elyra-color-panel-border);
  max-width: unset;
}

.bx--list-box__menu-icon {
  display: flex;
}

.bx--list-box__menu {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.bx--list-box__menu-item__option {
  width: auto;
  line-height: 30px;
  padding: 3px 10px;
  vertical-align: middle;
  border: 0;
  box-shadow: inset 0 0 0 1px var(--elyra-color-panel-border);
  cursor: pointer;
}

.bx--list-box__menu-item__option:hover {
  background-color: var(--elyra-color-panel-border);
}

/* canvas */

.common-canvas {
  overflow: hidden;
}

.d3-svg-canvas-div {
  background-color: transparent;
}

.d3-svg-background {
  fill: transparent;
}

.d3-node-body-outline {
  stroke: var(--elyra-color-node-border);
  stroke-width: 1;
  fill: var(--elyra-color-node-bg);
  filter: none !important;
}

.d3-node-body-outline[hover="yes"] {
  stroke: var(--elyra-color-node-hover-border);
  stroke-width: 1;
  fill: var(--elyra-color-node-hover-bg);
}

.d3-data-link {
  stroke: var(--elyra-color-node-link) !important;
  stroke-width: 2;
}

.d3-data-link-error {
  stroke: var(--elyra-color-error-border) !important;
  stroke-width: 2;
  stroke-dasharray: 13;
}

.d3-comment-link {
  stroke: var(--elyra-color-comment-link) !important;
  stroke-width: 2 !important;
  stroke-dasharray: 7.3 !important;
}

.d3-comment-rect {
  fill: var(--elyra-color-comment-bg);
  stroke: var(--elyra-color-comment-border) !important;
  stroke-width: 1;
  rx: var(--elyra-border-radius);
}

.d3-node-label {
  font-family: var(--elyra-font-family-mono);
  font-weight: var(--elyra-font-weight-mono);
  font-size: var(--elyra-font-size-mono);
  fill: var(--elyra-color-node-text);
}

.d3-comment-text-tspan {
  font-family: var(--elyra-font-family-sans) !important;
  font-weight: var(--elyra-font-weight-sans) !important;
  font-size: var(--elyra-font-size-sans) !important;
  fill: var(--elyra-color-comment-text) !important;
}

.d3-comment-entry {
  background-color: var(--elyra-color-comment-bg);
  font-family: var(--elyra-font-family-sans) !important;
  font-weight: var(--elyra-font-weight-sans) !important;
  font-size: var(--elyra-font-size-sans) !important;
  color: var(--elyra-color-comment-text) !important;
  box-sizing: border-box; /* very important! */
}

.d3-node-selection-highlight[data-selected="yes"] {
  stroke: var(--elyra-color-node-link);
}

.d3-comment-selection-highlight[data-selected="yes"] {
  stroke: var(--elyra-color-node-link);
  rx: var(--elyra-border-radius);
}

.d3-node-ellipsis-group .d3-node-ellipsis {
  fill: var(--elyra-color-icon);
}

.d3-node-ellipsis-group:hover .d3-node-ellipsis-background {
  fill: transparent;
}

.d3-new-connection-line,
.d3-new-connection-start,
.d3-new-connection-guide {
  stroke: var(--elyra-color-node-link) !important;
}

.pipeline-read-only .d3-comment-sizing,
.pipeline-read-only .d3-comment-port-circle,
.pipeline-read-only .d3-node-selection-highlight,
.pipeline-read-only .d3-comment-selection-highlight,
.pipeline-read-only .d3-node-port-input,
.pipeline-read-only .d3-node-port-output,
.pipeline-read-only .d3-node-port-input-arrow,
.pipeline-read-only .d3-node-ellipsis-group,
.pipeline-read-only .d3-new-connection-line,
.pipeline-read-only .d3-new-connection-start,
.pipeline-read-only .d3-new-connection-guide,
.pipeline-read-only .d3-comment-entry {
  display: none;
}
