body.pipeline-editor-github {
  --elyra-border-radius: 6;
  /* panels not shown in readOnly mode */
  /* --color-panel-bg: unset; */
  /* --color-panel-border: unset; */

  --elyra-color-comment-text: var(--color-text-secondary);
  --elyra-color-comment-link: var(--color-border-primary);
  --elyra-color-comment-bg: var(--color-bg-primary);
  --elyra-color-comment-border: var(--color-border-secondary);

  --elyra-color-node-text: var(--color-text-primary);
  --elyra-color-node-link: var(--color-text-link);
  --elyra-color-node-bg: var(--color-btn-bg);
  --elyra-color-node-border: var(--color-btn-border);
  --elyra-color-node-hover-bg: var(--color-btn-hover-bg);
  --elyra-color-node-hover-border: var(--color-btn-hover-border);

  /* no errors in readOnly mode */
  /* --color-text-error: unset; */
  /* --color-error-border: unset; */

  --elyra-color-tooltip-text: var(--color-text-secondary);
  --elyra-color-tooltip-text-bold: var(--color-border-primary);
  --elyra-color-tooltip-bg: var(--color-bg-overlay);
  --elyra-color-tooltip-border: var(--color-border-primary);

  /* the ellipse color, not shown in readOnly mode */
  /* --color-icon: unset; */

  --elyra-font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --elyra-font-weight-sans: normal;
  --elyra-font-size-sans: 14px;

  --elyra-font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    monospace;
  --elyra-font-weight-mono: normal;
  --elyra-font-size-mono: 12px;
}

body.pipeline-editor-github {
  background-color: var(--color-bg-canvas);
}
